.bg-orange {
    background-color: orange;
}

.bg-pink {
    background-color: pink;
}

.bg-lime {
    background-color: lime;
}

.bg-white {
    background-color: white;
}

.bg-red {
    background-color: red;
}

.bg-purple {
    background-color: purple;
}

.bg-yellow {
    background-color: yellow;
}